# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio specific
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider specific
.idea/

# Configuration files
*.dotSettings.user

# Crash Reports and Debugging
_crashreports/
_crashdumps/

# NPM Packages
node_modules/

# Microsoft Azure Web App
project.lock.json
wwwroot/node_modules/

# Other files
*.pidb
*.booproj
*.swp
*.temp
*.tmp
*.bak
*.log
*.db

# Web
client-side/*
*.css.map
*.js.map

# Uncomment if publishing code to a public repository
#*.env

# file config
appsettings.json
appsettings.*.json
